# Chain of Table Notebook

<a href="https://colab.research.google.com/github/run-llama/llama-hub/blob/main/llama_hub/llama_packs/tables/chain_of_table/chain_of_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we highlight our implementation of the ("Chain of Table" paper by Wang et al.)[https://arxiv.org/pdf/2401.04398v1.pdf].

Chain-of-Table proposes the following: given a user query over tabular data, plan out a sequence of tabular operations over the table to retrieve the right information in order to satisfy the user query. The updated table is explicitly used/modified throughout the intermediate chain (unlike chain-of-thought/ReAct which uses generic thoughts). 

There is a fixed set of tabular operations that are defined in the paper:
- `f_add_column`
- `f_select_row`
- `f_select_column`
- `f_group_by`
- `f_sort_by`

We implemented the paper based on the prompts described in the paper, and adapted it to get it working. That said, this is marked as beta, so there may still be kinks to work through. Do you have suggestions / contributions on how to improve the robustness? Let us know!

## Download Data

We use the [WikiTableQuestions dataset](https://ppasupat.github.io/WikiTableQuestions/) (Pasupat and Liang 2015) as our test dataset.

WikiTableQuestions is a question-answering dataset over various semi-structured tables taken from Wikipedia. These tables range in size from a few rows/columns to mnay rows. Some columns may contain multi-part information as well (e.g. a temperature column may contain both Fahrenheight and Celsius).

In [ ]:
!wget "https://github.com/ppasupat/WikiTableQuestions/releases/download/v1.0.2/WikiTableQuestions-1.0.2-compact.zip" -O data.zip
!unzip data.zip

Let's visualize a sample df.

In [23]:
import pandas as pd

df = pd.read_csv("./WikiTableQuestions/csv/200-csv/3.csv")
df

,Year,Winner,Jockey,Trainer,Owner,Breeder
0,1919,Sir Barton,Johnny Loftus,H. Guy Bedwell,J. K. L. Ross,NaN
1,1930,Gallant Fox,Earl Sande,Jim Fitzsimmons,Belair Stud,Belair Stud
2,1935,Omaha,Willie Saunders,Jim Fitzsimmons,Belair Stud,Belair Stud
3,1937,War Admiral,Charley Kurtsinger,George H. Conway,Samuel D. Riddle,Samuel D. Riddle
4,1941,Whirlaway,Eddie Arcaro,Ben A. Jones,Calumet Farm,Calumet Farm
5,1943,Count Fleet,Johnny Longden,Don Cameron,Fannie Hertz,Fannie Hertz
6,1946,Assault,Warren Mehrtens,Max Hirsch,King Ranch,King Ranch
7,1948,Citation,Eddie Arcaro,Horace A. Jones,Calumet Farm,Calumet Farm
8,1973,Secretariat,Ron Turcotte,Lucien Laurin,Meadow Stable,Meadow Stud
9,1977,Seattle Slew,Jean Cruguet,"William H. Turner, Jr.",Karen L. Taylor,Ben S. Castleman
10,1978,Affirmed,Steve Cauthen,Laz Barrera,Harbor View Farm,Harbor View Farm

## Load Pack / Setup

Now we do `download_llama_pack` to load the Chain-Of-Table LlamaPack (you can also import the module directly if using the llama-hub package).

We will also optionally setup observability/tracing so we can observe the intermediate steps.

In [1]:
# Option: if developing with the llama_hub package
from llama_hub.llama_packs.tables.chain_of_table.base import (
    ChainOfTableQueryEngine,
    serialize_table,
)

# Option: download llama_pack
from llama_index.llama_pack import download_llama_pack

download_llama_pack(
    "ChainOfTablePack",
    "./chain_of_table_pack",
    skip_load=True,
    # leave the below line commented out if using the notebook on main
    # llama_hub_url="https://raw.githubusercontent.com/run-llama/llama-hub/jerry/add_chain_of_table/llama_hub"
)
from chain_of_table_pack.base import ChainOfTableQueryEngine, serialize_table

In [ ]:
from llama_index.llms import OpenAI

llm = OpenAI(model="gpt-4-1106-preview")

### Optional: Setup Observability

Here we will use our Arize Phoenix integration to view traces through the query engine.

In [ ]:
import phoenix as px
import llama_index

px.launch_app()
llama_index.set_global_handler("arize_phoenix")

## Try out some Queries

Now let's try out our `ChainOfTableQueryEngine`!

We run it over a few different tables.

### Example: Movie Awards Table

In [26]:
import pandas as pd

df = pd.read_csv("~/Downloads/WikiTableQuestions/csv/200-csv/11.csv")

In [27]:
df

,Award,Category,Nominee,Result
0,"Academy Awards, 1972",Best Picture,Phillip D'Antoni,Won
1,"Academy Awards, 1972",Best Director,William Friedkin,Won
2,"Academy Awards, 1972",Best Actor,Gene Hackman,Won
3,"Academy Awards, 1972",Best Adapted Screenplay,Ernest Tidyman,Won
4,"Academy Awards, 1972",Film Editing,Gerald B. Greenberg,Won
5,"Academy Awards, 1972",Best Supporting Actor,Roy Scheider,Nominated
6,"Academy Awards, 1972",Best Cinematography,Owen Roizman,Nominated
7,"Academy Awards, 1972",Best Sound,Theodore Soderberg\nChristopher Newman,Nominated
8,"American Cinema Editors, 1972",Best Edited Feature Film,Gerald B. Greenberg,Nominated
9,"BAFTA, 1972",Best Actor,Gene Hackman,Won
10,"BAFTA, 1972",Best Film Editing,Gerald B. Greenberg,Won
11,"BAFTA, 1972",Best Direction,William Friedkin,Nominated
12,"BAFTA, 1972",Best Film,Philip D'Antoni,Nominated
13,"BAFTA, 1972",Best Sound Track,Christopher Newman\nTheodore Soderberg,Nominated
14,"David di Donatello Award, 1972",Best Foreign Film,Philip D'Antoni,Won
15,"Directors Guild of America, 1972",Outstanding Directorial Achievement,William Friedkin,Won
16,"Edgar Allan Poe Awards, 1972",Best Motion Picture,Ernest Tidyman,Won
17,"Golden Globe Awards, 1972",Best Motion Picture,Phillip D'Antoni,Won
18,"Golden Globe Awards, 1972",Best Director,William Friedkin,Won
19,"Golden Globe Awards, 1972",Best Actor,Gene Hackman,Won
20,"Golden Globe Awards, 1972",Best Screenplay,Ernest Tidyman,Nominated
21,"Kansas City Film Critics Circle, 1972",Best Actor,Gene Hackman,Won
22,"Kansas City Film Critics Circle, 1972",Best Film,Ernest Tidyman,Won
23,"National Society of Film Critics, 1972",Best Actor,Gene Hackman,Nominated
24,"New York Film Critics Circle, 1971",Best Actor,Gene Hackman,Won
25,"New York Film Critics Circle, 1971",Best Film,Ernest Tidyman,Nominated
26,"Writers Guild of America, 1972",Best Drama Adaptation,Ernest Tidyman,Nominated

In [6]:
query_engine = ChainOfTableQueryEngine(df, llm=llm, verbose=True)

In [7]:
# query_engine.query("Which of the months between june and august have the highest average high temperature?")
# response = query_engine.query("Which of these people disappeared in January?")
# response = query_engine.query("Which of these works won a BAFTA award? (film or tv)")
response = query_engine.query("Who won best Director in the 1972 Academy Awards?")

> Iteration: 0
> Current table:
col : Award | Category | Nominee | Result
row 1 : Academy Awards, 1972 | Best Picture | Phillip D'Antoni | Won
row 2 : Academy Awards, 1972 | Best Director | William Friedkin | Won
row 3 : Academy Awards, 1972 | Best Actor | Gene Hackman | Won
row 4 : Academy Awards, 1972 | Best Adapted Screenplay | Ernest Tidyman | Won
row 5 : Academy Awards, 1972 | Film Editing | Gerald B. Greenberg | Won
row 6 : Academy Awards, 1972 | Best Supporting Actor | Roy Scheider | Nominated
row 7 : Academy Awards, 1972 | Best Cinematography | Owen Roizman | Nominated
row 8 : Academy Awards, 1972 | Best Sound | Theodore Soderberg\nChristopher Newman | Nominated
row 9 : American Cinema Editors, 1972 | Best Edited Feature Film | Gerald B. Greenberg | Nominated
row 10 : BAFTA, 1972 | Best Actor | Gene Hackman | Won
row 11 : BAFTA, 1972 | Best Film Editing | Gerald B. Greenberg | Won
row 12 : BAFTA, 1972 | Best Direction | William Friedkin | Nominated
row 13 : BAFTA, 1972 | Best Film | Philip D'Antoni | Nominated
row 14 : BAFTA, 1972 | Best Sound Track | Christopher Newman\nTheodore Soderberg | Nominated
row 15 : David di Donatello Award, 1972 | Best Foreign Film | Philip D'Antoni | Won
row 16 : Directors Guild of America, 1972 | Outstanding Directorial Achievement | William Friedkin | Won
row 17 : Edgar Allan Poe Awards, 1972 | Best Motion Picture | Ernest Tidyman | Won
row 18 : Golden Globe Awards, 1972 | Best Motion Picture | Phillip D'Antoni | Won
row 19 : Golden Globe Awards, 1972 | Best Director | William Friedkin | Won
row 20 : Golden Globe Awards, 1972 | Best Actor | Gene Hackman | Won
row 21 : Golden Globe Awards, 1972 | Best Screenplay | Ernest Tidyman | Nominated
row 22 : Kansas City Film Critics Circle, 1972 | Best Actor | Gene Hackman | Won
row 23 : Kansas City Film Critics Circle, 1972 | Best Film | Ernest Tidyman | Won
row 24 : National Society of Film Critics, 1972 | Best Actor | Gene Hackman | Nominated
row 25 : New York Film Critics Circle, 1971 | Best Actor | Gene Hackman | Won
row 26 : New York Film Critics Circle, 1971 | Best Film | Ernest Tidyman | Nominated
row 27 : Writers Guild of America, 1972 | Best Drama Adaptation | Ernest Tidyman | Nominated



========================================= Atomic Operations =========================================
If the table needs an extra inferred column to answer the question, we use f_add_column() to
add this column. For example,
/*
col : Week | When | Kickoff | Opponent | Results; Final score | Results; Team record
row 1 : 1 | Saturday, April 13 | 7:00 p.m. | at Rhein Fire | W 27-21 | 1-0
row 2 : 2 | Saturday, April 20 | 7:00 p.m. | London Monarchs | W 37-3 | 2-0
row 3 : 3 | Sunday, April 28 | 6:00 p.m. | at Barcelona Dragons | W 33-29 | 3-0
*/
Question : what is the date of the competition with highest attendance?
The existing columns are: "Week", "When", "Kickoff", "Opponent", "Results; Final score",
"Results; Team record", "Game site", "Attendance".
Function : f_add_column(Attendance number)
Explanation: the question asks about the date of the competition with highest score. Each
row is about one competition. We extract the value from column "Attendance" and create a
different column "Attendance number" for each row. The datatype is Numerical.

If the table only needs a few rows to answer the question, we use f_select_row() to select
these rows for it. For example,
/*
col : Home team | Home Team Score | Away Team | Away Team Score | Venue | Crowd
row 1 : st kilda | 13.12 (90) | melbourne | 13.11 (89) | moorabbin oval | 18836
row 2 : south melbourne | 9.12 (66) | footscray | 11.13 (79) | lake oval | 9154
row 3 : richmond | 20.17 (137) | fitzroy | 13.22 (100) | mcg | 27651
*/
Question : Whose home team score is higher, richmond or st kilda?
Function : f_select_row(row 1, row 3)
Explanation: The question asks about the home team score of richmond and st kilda. We need
to know the the information of richmond and st kilda in row 1 and row 3. We select row 1
and row 3.

If the table only needs a few columns to answer the question, we use
f_select_column() to select these columns for it. For example,
/*
col : Competition | Total Matches | Cardiff Win | Draw | Swansea Win
row 1 : League | 55 | 19 | 16 | 20
row 2 : FA Cup | 2 | 0 | 27 | 2
row 3 : League Cup | 5 | 2 | 0 | 3
*/
Question : Are there cardiff wins that have a draw greater than 27?
Function : f_select_column([cardiff win, draw])
Explanation: The question asks about the cardiff wins that have a draw greater than 27.
    We need to know the information of cardiff win and draw. We select column cardiff win and
    draw.

If the question asks about items with the same value and the number of these items, we use
f_group_by() to group the items. For example,
/*
col : Rank | Lane | Athlete | Time | Country
row 1 : 1 | 6 | Manjeet Kaur (IND) | 52.17 | IND
row 2 : 2 | 5 | Olga Tereshkova (KAZ) | 51.86 | KAZ
row 3 : 3 | 4 | Pinki Pramanik (IND) | 53.06 | IND
*/
Question: tell me the number of athletes from japan.
Function : f_group_by(Country)
Explanation: The question asks about the number of athletes from India. Each row is about
an athlete. We can group column "Country" to group the athletes from the same country.

If the question asks about the order of items in a column, we use f_sort_by() to sort
the items. For example,
/*
col : Position | Club | Played | Points | Wins | Draws | Losses | Goals for | Goals against
row 1 : 1 | Malaga CF | 42 | 79 | 22 | 13 | 7 | 72 | 47
row 10 : 10 | CP Merida | 42 | 59 | 15 | 14 | 13 | 48 | 41
row 3 : 3 | CD Numancia | 42 | 73 | 21 | 10 | 11 | 68 | 40
*/
Question: what club placed in the last position?
Function : f_sort_by(Position)
Explanation: the question asks about the club in the last position. Each row is about a
club. We need to know the order of position from last to front. There is a column for
position and the column name is Position. The datatype is Numerical.

========================================= Operation Chain Task+Examples =========================================

Your task is to construct an operation chain using the above operations to answer the questions.

Some rules:
- The operation chain must end with <END>.
- Please use arrow -> to separate operations.
- You can use any operation any number of times, in any order.
- If the operation chain is incomplete, you must help complete it by adding the missing     operation. For example in the below example, if the operation chain is     'f_add_column(Date) -> f_select_row([row 1, row 2]) -> f_select_column([Date, League]) -> '     then you must add the following: 'f_sort_by(Date) -> <END>'
- If the table is simplified/reduced enough to answer the question, ONLY WRITE <END>. For instance, if the table is only 1 row or a small set of columns, PLEASE write <END> - DON'T DO unnecessary operations.

Here are some examples.
/*
col : Date | Division | League | Regular Season | Playoffs | Open Cup
row 1 : 2001/01/02 | 2 | USL A-League | 4th, Western | Quarterfinals | Did not qualify
row 2 : 2002/08/06 | 2 | USL A-League | 2nd, Pacific | 1st Round | Did not qualify
row 5 : 2005/03/24 | 2 | USL First Division | 5th | Quarterfinals | 4th Round
*/
Question: what was the last year where this team was a part of the usl a-league?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Date) -> f_select_row([row 1, row 2, row 5])
Function Chain: f_select_column([Date, League]) -> f_sort_by(Date) -> <END>

/*
col : Rank | Cyclist | Country
row 3 : 3 | Davide Rebellin (ITA) | ITA
row 4 : 4 | Paolo Bettini (ITA) | ITA
*/
Question: Which italian cyclist placed in the top 10?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Country) -> f_select_row([row 3, row 4]) -> f_select_column([Rank, Cyclist, Country])
Function Chain: <END>

/*
col : Award | Category | Nominee | Result
row 1 : Academy Awards, 1972 | Best Picture | Phillip D'Antoni | Won
row 2 : Academy Awards, 1972 | Best Director | William Friedkin | Won
row 3 : Academy Awards, 1972 | Best Actor | Gene Hackman | Won
row 4 : Academy Awards, 1972 | Best Adapted Screenplay | Ernest Tidyman | Won
row 5 : Academy Awards, 1972 | Film Editing | Gerald B. Greenberg | Won
row 6 : Academy Awards, 1972 | Best Supporting Actor | Roy Scheider | Nominated
row 7 : Academy Awards, 1972 | Best Cinematography | Owen Roizman | Nominated
row 8 : Academy Awards, 1972 | Best Sound | Theodore Soderberg\nChristopher Newman | Nominated
row 9 : American Cinema Editors, 1972 | Best Edited Feature Film | Gerald B. Greenberg | Nominated
row 10 : BAFTA, 1972 | Best Actor | Gene Hackman | Won
row 11 : BAFTA, 1972 | Best Film Editing | Gerald B. Greenberg | Won
row 12 : BAFTA, 1972 | Best Direction | William Friedkin | Nominated
row 13 : BAFTA, 1972 | Best Film | Philip D'Antoni | Nominated
row 14 : BAFTA, 1972 | Best Sound Track | Christopher Newman\nTheodore Soderberg | Nominated
row 15 : David di Donatello Award, 1972 | Best Foreign Film | Philip D'Antoni | Won
row 16 : Directors Guild of America, 1972 | Outstanding Directorial Achievement | William Friedkin | Won
row 17 : Edgar Allan Poe Awards, 1972 | Best Motion Picture | Ernest Tidyman | Won
row 18 : Golden Globe Awards, 1972 | Best Motion Picture | Phillip D'Antoni | Won
row 19 : Golden Globe Awards, 1972 | Best Director | William Friedkin | Won
row 20 : Golden Globe Awards, 1972 | Best Actor | Gene Hackman | Won
row 21 : Golden Globe Awards, 1972 | Best Screenplay | Ernest Tidyman | Nominated
row 22 : Kansas City Film Critics Circle, 1972 | Best Actor | Gene Hackman | Won
row 23 : Kansas City Film Critics Circle, 1972 | Best Film | Ernest Tidyman | Won
row 24 : National Society of Film Critics, 1972 | Best Actor | Gene Hackman | Nominated
row 25 : New York Film Critics Circle, 1971 | Best Actor | Gene Hackman | Won
row 26 : New York Film Critics Circle, 1971 | Best Film | Ernest Tidyman | Nominated
row 27 : Writers Guild of America, 1972 | Best Drama Adaptation | Ernest Tidyman | Nominated

*/
Question: Who won best Director in the 1972 Academy Awards?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain:
Function Chain:
('Who won best Director in the 1972 Academy Awards?', 'f_select_row')
> Iteration: 1
> Current table:
col : Award | Category | Nominee | Result
row 1 : Academy Awards, 1972 | Best Director | William Friedkin | Won


f_select_row(['row 2']) ->
========================================= Atomic Operations =========================================
If the table needs an extra inferred column to answer the question, we use f_add_column() to
add this column. For example,
/*
col : Week | When | Kickoff | Opponent | Results; Final score | Results; Team record
row 1 : 1 | Saturday, April 13 | 7:00 p.m. | at Rhein Fire | W 27-21 | 1-0
row 2 : 2 | Saturday, April 20 | 7:00 p.m. | London Monarchs | W 37-3 | 2-0
row 3 : 3 | Sunday, April 28 | 6:00 p.m. | at Barcelona Dragons | W 33-29 | 3-0
*/
Question : what is the date of the competition with highest attendance?
The existing columns are: "Week", "When", "Kickoff", "Opponent", "Results; Final score",
"Results; Team record", "Game site", "Attendance".
Function : f_add_column(Attendance number)
Explanation: the question asks about the date of the competition with highest score. Each
row is about one competition. We extract the value from column "Attendance" and create a
different column "Attendance number" for each row. The datatype is Numerical.

If the table only needs a few rows to answer the question, we use f_select_row() to select
these rows for it. For example,
/*
col : Home team | Home Team Score | Away Team | Away Team Score | Venue | Crowd
row 1 : st kilda | 13.12 (90) | melbourne | 13.11 (89) | moorabbin oval | 18836
row 2 : south melbourne | 9.12 (66) | footscray | 11.13 (79) | lake oval | 9154
row 3 : richmond | 20.17 (137) | fitzroy | 13.22 (100) | mcg | 27651
*/
Question : Whose home team score is higher, richmond or st kilda?
Function : f_select_row(row 1, row 3)
Explanation: The question asks about the home team score of richmond and st kilda. We need
to know the the information of richmond and st kilda in row 1 and row 3. We select row 1
and row 3.

If the table only needs a few columns to answer the question, we use
f_select_column() to select these columns for it. For example,
/*
col : Competition | Total Matches | Cardiff Win | Draw | Swansea Win
row 1 : League | 55 | 19 | 16 | 20
row 2 : FA Cup | 2 | 0 | 27 | 2
row 3 : League Cup | 5 | 2 | 0 | 3
*/
Question : Are there cardiff wins that have a draw greater than 27?
Function : f_select_column([cardiff win, draw])
Explanation: The question asks about the cardiff wins that have a draw greater than 27.
    We need to know the information of cardiff win and draw. We select column cardiff win and
    draw.

If the question asks about items with the same value and the number of these items, we use
f_group_by() to group the items. For example,
/*
col : Rank | Lane | Athlete | Time | Country
row 1 : 1 | 6 | Manjeet Kaur (IND) | 52.17 | IND
row 2 : 2 | 5 | Olga Tereshkova (KAZ) | 51.86 | KAZ
row 3 : 3 | 4 | Pinki Pramanik (IND) | 53.06 | IND
*/
Question: tell me the number of athletes from japan.
Function : f_group_by(Country)
Explanation: The question asks about the number of athletes from India. Each row is about
an athlete. We can group column "Country" to group the athletes from the same country.

If the question asks about the order of items in a column, we use f_sort_by() to sort
the items. For example,
/*
col : Position | Club | Played | Points | Wins | Draws | Losses | Goals for | Goals against
row 1 : 1 | Malaga CF | 42 | 79 | 22 | 13 | 7 | 72 | 47
row 10 : 10 | CP Merida | 42 | 59 | 15 | 14 | 13 | 48 | 41
row 3 : 3 | CD Numancia | 42 | 73 | 21 | 10 | 11 | 68 | 40
*/
Question: what club placed in the last position?
Function : f_sort_by(Position)
Explanation: the question asks about the club in the last position. Each row is about a
club. We need to know the order of position from last to front. There is a column for
position and the column name is Position. The datatype is Numerical.

========================================= Operation Chain Task+Examples =========================================

Your task is to construct an operation chain using the above operations to answer the questions.

Some rules:
- The operation chain must end with <END>.
- Please use arrow -> to separate operations.
- You can use any operation any number of times, in any order.
- If the operation chain is incomplete, you must help complete it by adding the missing     operation. For example in the below example, if the operation chain is     'f_add_column(Date) -> f_select_row([row 1, row 2]) -> f_select_column([Date, League]) -> '     then you must add the following: 'f_sort_by(Date) -> <END>'
- If the table is simplified/reduced enough to answer the question, ONLY WRITE <END>. For instance, if the table is only 1 row or a small set of columns, PLEASE write <END> - DON'T DO unnecessary operations.

Here are some examples.
/*
col : Date | Division | League | Regular Season | Playoffs | Open Cup
row 1 : 2001/01/02 | 2 | USL A-League | 4th, Western | Quarterfinals | Did not qualify
row 2 : 2002/08/06 | 2 | USL A-League | 2nd, Pacific | 1st Round | Did not qualify
row 5 : 2005/03/24 | 2 | USL First Division | 5th | Quarterfinals | 4th Round
*/
Question: what was the last year where this team was a part of the usl a-league?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Date) -> f_select_row([row 1, row 2, row 5])
Function Chain: f_select_column([Date, League]) -> f_sort_by(Date) -> <END>

/*
col : Rank | Cyclist | Country
row 3 : 3 | Davide Rebellin (ITA) | ITA
row 4 : 4 | Paolo Bettini (ITA) | ITA
*/
Question: Which italian cyclist placed in the top 10?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Country) -> f_select_row([row 3, row 4]) -> f_select_column([Rank, Cyclist, Country])
Function Chain: <END>

/*
col : Award | Category | Nominee | Result
row 1 : Academy Awards, 1972 | Best Director | William Friedkin | Won

*/
Question: Who won best Director in the 1972 Academy Awards?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_select_row(['row 2']) ->
Function Chain:
('Who won best Director in the 1972 Academy Awards?', '<END>')

In [8]:
str(response.response)

'assistant: William Friedkin.'

### Example: Yearly Temperature and Precipitation

This table is interesting the cells for the first three rows contain two values (e.g. C/F or mm/inches).

Let's see if chain-of-table can handle this question.

In [14]:
import pandas as pd

df = pd.read_csv('./WikiTableQuestions/csv/200-csv/42.csv")

In [15]:
df

,Month,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Year
0,Average high °C (°F),17.3\n(63.1),19.5\n(67.1),22.6\n(72.7),25.9\n(78.6),27.2\n(81),29.3\n(84.7),31.8\n(89.2),31.4\n(88.5),28.9\n(84),25.5\n(77.9),21.7\n(71.1),19.2\n(66.6),24.76\n(76.57)
1,Average low °C (°F),7.9\n(46.2),9.4\n(48.9),12.5\n(54.5),17.6\n(63.7),19.2\n(66.6),21.6\n(70.9),23.8\n(74.8),22.5\n(72.5),20.7\n(69.3),16.5\n(61.7),14.1\n(57.4),8.5\n(47.3),15.94\n(60.69)
2,Precipitation mm (inches),235.9\n(9.287),129.2\n(5.087),82.8\n(3.26),33.6\n(1.323),4.7\n(0.185),0.2\n(0.008),0.0\n(0),0.2\n(0.008),3.2\n(0.126),58.0\n(2.283),107.4\n(4.228),214.5\n(8.445),857.3\n(33.752)
3,Avg. precipitation days,13.9,11.4,8.6,3.6,2.4,0.1,0.0,0.1,1.8,4.9,8.0,11.8,63.7

In [16]:
query_engine = ChainOfTableQueryEngine(df, llm=llm, verbose=True)

In [18]:
response = query_engine.query("What was the precipitation in inches during June?")

> Iteration: 0
> Current table:
col : Month | Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sep | Oct | Nov | Dec | Year
row 1 : Average high °C (°F) | 17.3\n(63.1) | 19.5\n(67.1) | 22.6\n(72.7) | 25.9\n(78.6) | 27.2\n(81) | 29.3\n(84.7) | 31.8\n(89.2) | 31.4\n(88.5) | 28.9\n(84) | 25.5\n(77.9) | 21.7\n(71.1) | 19.2\n(66.6) | 24.76\n(76.57)
row 2 : Average low °C (°F) | 7.9\n(46.2) | 9.4\n(48.9) | 12.5\n(54.5) | 17.6\n(63.7) | 19.2\n(66.6) | 21.6\n(70.9) | 23.8\n(74.8) | 22.5\n(72.5) | 20.7\n(69.3) | 16.5\n(61.7) | 14.1\n(57.4) | 8.5\n(47.3) | 15.94\n(60.69)
row 3 : Precipitation mm (inches) | 235.9\n(9.287) | 129.2\n(5.087) | 82.8\n(3.26) | 33.6\n(1.323) | 4.7\n(0.185) | 0.2\n(0.008) | 0.0\n(0) | 0.2\n(0.008) | 3.2\n(0.126) | 58.0\n(2.283) | 107.4\n(4.228) | 214.5\n(8.445) | 857.3\n(33.752)
row 4 : Avg. precipitation days | 13.9 | 11.4 | 8.6 | 3.6 | 2.4 | 0.1 | 0.0 | 0.1 | 1.8 | 4.9 | 8.0 | 11.8 | 63.7



========================================= Atomic Operations =========================================
If the table needs an extra inferred column to answer the question, we use f_add_column() to
add this column. For example,
/*
col : Week | When | Kickoff | Opponent | Results; Final score | Results; Team record
row 1 : 1 | Saturday, April 13 | 7:00 p.m. | at Rhein Fire | W 27-21 | 1-0
row 2 : 2 | Saturday, April 20 | 7:00 p.m. | London Monarchs | W 37-3 | 2-0
row 3 : 3 | Sunday, April 28 | 6:00 p.m. | at Barcelona Dragons | W 33-29 | 3-0
*/
Question : what is the date of the competition with highest attendance?
The existing columns are: "Week", "When", "Kickoff", "Opponent", "Results; Final score",
"Results; Team record", "Game site", "Attendance".
Function : f_add_column(Attendance number)
Explanation: the question asks about the date of the competition with highest score. Each
row is about one competition. We extract the value from column "Attendance" and create a
different column "Attendance number" for each row. The datatype is Numerical.

If the table only needs a few rows to answer the question, we use f_select_row() to select
these rows for it. For example,
/*
col : Home team | Home Team Score | Away Team | Away Team Score | Venue | Crowd
row 1 : st kilda | 13.12 (90) | melbourne | 13.11 (89) | moorabbin oval | 18836
row 2 : south melbourne | 9.12 (66) | footscray | 11.13 (79) | lake oval | 9154
row 3 : richmond | 20.17 (137) | fitzroy | 13.22 (100) | mcg | 27651
*/
Question : Whose home team score is higher, richmond or st kilda?
Function : f_select_row(row 1, row 3)
Explanation: The question asks about the home team score of richmond and st kilda. We need
to know the the information of richmond and st kilda in row 1 and row 3. We select row 1
and row 3.

If the table only needs a few columns to answer the question, we use
f_select_column() to select these columns for it. For example,
/*
col : Competition | Total Matches | Cardiff Win | Draw | Swansea Win
row 1 : League | 55 | 19 | 16 | 20
row 2 : FA Cup | 2 | 0 | 27 | 2
row 3 : League Cup | 5 | 2 | 0 | 3
*/
Question : Are there cardiff wins that have a draw greater than 27?
Function : f_select_column([cardiff win, draw])
Explanation: The question asks about the cardiff wins that have a draw greater than 27.
    We need to know the information of cardiff win and draw. We select column cardiff win and
    draw.

If the question asks about items with the same value and the number of these items, we use
f_group_by() to group the items. For example,
/*
col : Rank | Lane | Athlete | Time | Country
row 1 : 1 | 6 | Manjeet Kaur (IND) | 52.17 | IND
row 2 : 2 | 5 | Olga Tereshkova (KAZ) | 51.86 | KAZ
row 3 : 3 | 4 | Pinki Pramanik (IND) | 53.06 | IND
*/
Question: tell me the number of athletes from japan.
Function : f_group_by(Country)
Explanation: The question asks about the number of athletes from India. Each row is about
an athlete. We can group column "Country" to group the athletes from the same country.

If the question asks about the order of items in a column, we use f_sort_by() to sort
the items. For example,
/*
col : Position | Club | Played | Points | Wins | Draws | Losses | Goals for | Goals against
row 1 : 1 | Malaga CF | 42 | 79 | 22 | 13 | 7 | 72 | 47
row 10 : 10 | CP Merida | 42 | 59 | 15 | 14 | 13 | 48 | 41
row 3 : 3 | CD Numancia | 42 | 73 | 21 | 10 | 11 | 68 | 40
*/
Question: what club placed in the last position?
Function : f_sort_by(Position)
Explanation: the question asks about the club in the last position. Each row is about a
club. We need to know the order of position from last to front. There is a column for
position and the column name is Position. The datatype is Numerical.

========================================= Operation Chain Task+Examples =========================================

Your task is to construct an operation chain using the above operations to answer the questions.

Some rules:
- The operation chain must end with <END>.
- Please use arrow -> to separate operations.
- You can use any operation any number of times, in any order.
- If the operation chain is incomplete, you must help complete it by adding the missing     operation. For example in the below example, if the operation chain is     'f_add_column(Date) -> f_select_row([row 1, row 2]) -> f_select_column([Date, League]) -> '     then you must add the following: 'f_sort_by(Date) -> <END>'
- If the table is simplified/reduced enough to answer the question, ONLY WRITE <END>. For instance, if the table is only 1 row or a small set of columns, PLEASE write <END> - DON'T DO unnecessary operations.

Here are some examples.
/*
col : Date | Division | League | Regular Season | Playoffs | Open Cup
row 1 : 2001/01/02 | 2 | USL A-League | 4th, Western | Quarterfinals | Did not qualify
row 2 : 2002/08/06 | 2 | USL A-League | 2nd, Pacific | 1st Round | Did not qualify
row 5 : 2005/03/24 | 2 | USL First Division | 5th | Quarterfinals | 4th Round
*/
Question: what was the last year where this team was a part of the usl a-league?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Date) -> f_select_row([row 1, row 2, row 5])
Function Chain: f_select_column([Date, League]) -> f_sort_by(Date) -> <END>

/*
col : Rank | Cyclist | Country
row 3 : 3 | Davide Rebellin (ITA) | ITA
row 4 : 4 | Paolo Bettini (ITA) | ITA
*/
Question: Which italian cyclist placed in the top 10?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Country) -> f_select_row([row 3, row 4]) -> f_select_column([Rank, Cyclist, Country])
Function Chain: <END>

/*
col : Month | Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sep | Oct | Nov | Dec | Year
row 1 : Average high °C (°F) | 17.3\n(63.1) | 19.5\n(67.1) | 22.6\n(72.7) | 25.9\n(78.6) | 27.2\n(81) | 29.3\n(84.7) | 31.8\n(89.2) | 31.4\n(88.5) | 28.9\n(84) | 25.5\n(77.9) | 21.7\n(71.1) | 19.2\n(66.6) | 24.76\n(76.57)
row 2 : Average low °C (°F) | 7.9\n(46.2) | 9.4\n(48.9) | 12.5\n(54.5) | 17.6\n(63.7) | 19.2\n(66.6) | 21.6\n(70.9) | 23.8\n(74.8) | 22.5\n(72.5) | 20.7\n(69.3) | 16.5\n(61.7) | 14.1\n(57.4) | 8.5\n(47.3) | 15.94\n(60.69)
row 3 : Precipitation mm (inches) | 235.9\n(9.287) | 129.2\n(5.087) | 82.8\n(3.26) | 33.6\n(1.323) | 4.7\n(0.185) | 0.2\n(0.008) | 0.0\n(0) | 0.2\n(0.008) | 3.2\n(0.126) | 58.0\n(2.283) | 107.4\n(4.228) | 214.5\n(8.445) | 857.3\n(33.752)
row 4 : Avg. precipitation days | 13.9 | 11.4 | 8.6 | 3.6 | 2.4 | 0.1 | 0.0 | 0.1 | 1.8 | 4.9 | 8.0 | 11.8 | 63.7

*/
Question: What was the precipitation in inches during June?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain:
Function Chain:
('What was the precipitation in inches during June?', 'f_select_row')
> Iteration: 1
> Current table:
col : Month | Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sep | Oct | Nov | Dec | Year
row 1 : Precipitation mm (inches) | 235.9\n(9.287) | 129.2\n(5.087) | 82.8\n(3.26) | 33.6\n(1.323) | 4.7\n(0.185) | 0.2\n(0.008) | 0.0\n(0) | 0.2\n(0.008) | 3.2\n(0.126) | 58.0\n(2.283) | 107.4\n(4.228) | 214.5\n(8.445) | 857.3\n(33.752)


f_select_row(['row 3']) ->
========================================= Atomic Operations =========================================
If the table needs an extra inferred column to answer the question, we use f_add_column() to
add this column. For example,
/*
col : Week | When | Kickoff | Opponent | Results; Final score | Results; Team record
row 1 : 1 | Saturday, April 13 | 7:00 p.m. | at Rhein Fire | W 27-21 | 1-0
row 2 : 2 | Saturday, April 20 | 7:00 p.m. | London Monarchs | W 37-3 | 2-0
row 3 : 3 | Sunday, April 28 | 6:00 p.m. | at Barcelona Dragons | W 33-29 | 3-0
*/
Question : what is the date of the competition with highest attendance?
The existing columns are: "Week", "When", "Kickoff", "Opponent", "Results; Final score",
"Results; Team record", "Game site", "Attendance".
Function : f_add_column(Attendance number)
Explanation: the question asks about the date of the competition with highest score. Each
row is about one competition. We extract the value from column "Attendance" and create a
different column "Attendance number" for each row. The datatype is Numerical.

If the table only needs a few rows to answer the question, we use f_select_row() to select
these rows for it. For example,
/*
col : Home team | Home Team Score | Away Team | Away Team Score | Venue | Crowd
row 1 : st kilda | 13.12 (90) | melbourne | 13.11 (89) | moorabbin oval | 18836
row 2 : south melbourne | 9.12 (66) | footscray | 11.13 (79) | lake oval | 9154
row 3 : richmond | 20.17 (137) | fitzroy | 13.22 (100) | mcg | 27651
*/
Question : Whose home team score is higher, richmond or st kilda?
Function : f_select_row(row 1, row 3)
Explanation: The question asks about the home team score of richmond and st kilda. We need
to know the the information of richmond and st kilda in row 1 and row 3. We select row 1
and row 3.

If the table only needs a few columns to answer the question, we use
f_select_column() to select these columns for it. For example,
/*
col : Competition | Total Matches | Cardiff Win | Draw | Swansea Win
row 1 : League | 55 | 19 | 16 | 20
row 2 : FA Cup | 2 | 0 | 27 | 2
row 3 : League Cup | 5 | 2 | 0 | 3
*/
Question : Are there cardiff wins that have a draw greater than 27?
Function : f_select_column([cardiff win, draw])
Explanation: The question asks about the cardiff wins that have a draw greater than 27.
    We need to know the information of cardiff win and draw. We select column cardiff win and
    draw.

If the question asks about items with the same value and the number of these items, we use
f_group_by() to group the items. For example,
/*
col : Rank | Lane | Athlete | Time | Country
row 1 : 1 | 6 | Manjeet Kaur (IND) | 52.17 | IND
row 2 : 2 | 5 | Olga Tereshkova (KAZ) | 51.86 | KAZ
row 3 : 3 | 4 | Pinki Pramanik (IND) | 53.06 | IND
*/
Question: tell me the number of athletes from japan.
Function : f_group_by(Country)
Explanation: The question asks about the number of athletes from India. Each row is about
an athlete. We can group column "Country" to group the athletes from the same country.

If the question asks about the order of items in a column, we use f_sort_by() to sort
the items. For example,
/*
col : Position | Club | Played | Points | Wins | Draws | Losses | Goals for | Goals against
row 1 : 1 | Malaga CF | 42 | 79 | 22 | 13 | 7 | 72 | 47
row 10 : 10 | CP Merida | 42 | 59 | 15 | 14 | 13 | 48 | 41
row 3 : 3 | CD Numancia | 42 | 73 | 21 | 10 | 11 | 68 | 40
*/
Question: what club placed in the last position?
Function : f_sort_by(Position)
Explanation: the question asks about the club in the last position. Each row is about a
club. We need to know the order of position from last to front. There is a column for
position and the column name is Position. The datatype is Numerical.

========================================= Operation Chain Task+Examples =========================================

Your task is to construct an operation chain using the above operations to answer the questions.

Some rules:
- The operation chain must end with <END>.
- Please use arrow -> to separate operations.
- You can use any operation any number of times, in any order.
- If the operation chain is incomplete, you must help complete it by adding the missing     operation. For example in the below example, if the operation chain is     'f_add_column(Date) -> f_select_row([row 1, row 2]) -> f_select_column([Date, League]) -> '     then you must add the following: 'f_sort_by(Date) -> <END>'
- If the table is simplified/reduced enough to answer the question, ONLY WRITE <END>. For instance, if the table is only 1 row or a small set of columns, PLEASE write <END> - DON'T DO unnecessary operations.

Here are some examples.
/*
col : Date | Division | League | Regular Season | Playoffs | Open Cup
row 1 : 2001/01/02 | 2 | USL A-League | 4th, Western | Quarterfinals | Did not qualify
row 2 : 2002/08/06 | 2 | USL A-League | 2nd, Pacific | 1st Round | Did not qualify
row 5 : 2005/03/24 | 2 | USL First Division | 5th | Quarterfinals | 4th Round
*/
Question: what was the last year where this team was a part of the usl a-league?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Date) -> f_select_row([row 1, row 2, row 5])
Function Chain: f_select_column([Date, League]) -> f_sort_by(Date) -> <END>

/*
col : Rank | Cyclist | Country
row 3 : 3 | Davide Rebellin (ITA) | ITA
row 4 : 4 | Paolo Bettini (ITA) | ITA
*/
Question: Which italian cyclist placed in the top 10?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Country) -> f_select_row([row 3, row 4]) -> f_select_column([Rank, Cyclist, Country])
Function Chain: <END>

/*
col : Month | Jan | Feb | Mar | Apr | May | Jun | Jul | Aug | Sep | Oct | Nov | Dec | Year
row 1 : Precipitation mm (inches) | 235.9\n(9.287) | 129.2\n(5.087) | 82.8\n(3.26) | 33.6\n(1.323) | 4.7\n(0.185) | 0.2\n(0.008) | 0.0\n(0) | 0.2\n(0.008) | 3.2\n(0.126) | 58.0\n(2.283) | 107.4\n(4.228) | 214.5\n(8.445) | 857.3\n(33.752)

*/
Question: What was the precipitation in inches during June?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_select_row(['row 3']) ->
Function Chain:
('What was the precipitation in inches during June?', 'f_select_column')
> Iteration: 2
> Current table:
col : Jun
row 1 : 0.2\n(0.008)


f_select_row(['row 3']) -> f_select_column(['Jun']) ->
========================================= Atomic Operations =========================================
If the table needs an extra inferred column to answer the question, we use f_add_column() to
add this column. For example,
/*
col : Week | When | Kickoff | Opponent | Results; Final score | Results; Team record
row 1 : 1 | Saturday, April 13 | 7:00 p.m. | at Rhein Fire | W 27-21 | 1-0
row 2 : 2 | Saturday, April 20 | 7:00 p.m. | London Monarchs | W 37-3 | 2-0
row 3 : 3 | Sunday, April 28 | 6:00 p.m. | at Barcelona Dragons | W 33-29 | 3-0
*/
Question : what is the date of the competition with highest attendance?
The existing columns are: "Week", "When", "Kickoff", "Opponent", "Results; Final score",
"Results; Team record", "Game site", "Attendance".
Function : f_add_column(Attendance number)
Explanation: the question asks about the date of the competition with highest score. Each
row is about one competition. We extract the value from column "Attendance" and create a
different column "Attendance number" for each row. The datatype is Numerical.

If the table only needs a few rows to answer the question, we use f_select_row() to select
these rows for it. For example,
/*
col : Home team | Home Team Score | Away Team | Away Team Score | Venue | Crowd
row 1 : st kilda | 13.12 (90) | melbourne | 13.11 (89) | moorabbin oval | 18836
row 2 : south melbourne | 9.12 (66) | footscray | 11.13 (79) | lake oval | 9154
row 3 : richmond | 20.17 (137) | fitzroy | 13.22 (100) | mcg | 27651
*/
Question : Whose home team score is higher, richmond or st kilda?
Function : f_select_row(row 1, row 3)
Explanation: The question asks about the home team score of richmond and st kilda. We need
to know the the information of richmond and st kilda in row 1 and row 3. We select row 1
and row 3.

If the table only needs a few columns to answer the question, we use
f_select_column() to select these columns for it. For example,
/*
col : Competition | Total Matches | Cardiff Win | Draw | Swansea Win
row 1 : League | 55 | 19 | 16 | 20
row 2 : FA Cup | 2 | 0 | 27 | 2
row 3 : League Cup | 5 | 2 | 0 | 3
*/
Question : Are there cardiff wins that have a draw greater than 27?
Function : f_select_column([cardiff win, draw])
Explanation: The question asks about the cardiff wins that have a draw greater than 27.
    We need to know the information of cardiff win and draw. We select column cardiff win and
    draw.

If the question asks about items with the same value and the number of these items, we use
f_group_by() to group the items. For example,
/*
col : Rank | Lane | Athlete | Time | Country
row 1 : 1 | 6 | Manjeet Kaur (IND) | 52.17 | IND
row 2 : 2 | 5 | Olga Tereshkova (KAZ) | 51.86 | KAZ
row 3 : 3 | 4 | Pinki Pramanik (IND) | 53.06 | IND
*/
Question: tell me the number of athletes from japan.
Function : f_group_by(Country)
Explanation: The question asks about the number of athletes from India. Each row is about
an athlete. We can group column "Country" to group the athletes from the same country.

If the question asks about the order of items in a column, we use f_sort_by() to sort
the items. For example,
/*
col : Position | Club | Played | Points | Wins | Draws | Losses | Goals for | Goals against
row 1 : 1 | Malaga CF | 42 | 79 | 22 | 13 | 7 | 72 | 47
row 10 : 10 | CP Merida | 42 | 59 | 15 | 14 | 13 | 48 | 41
row 3 : 3 | CD Numancia | 42 | 73 | 21 | 10 | 11 | 68 | 40
*/
Question: what club placed in the last position?
Function : f_sort_by(Position)
Explanation: the question asks about the club in the last position. Each row is about a
club. We need to know the order of position from last to front. There is a column for
position and the column name is Position. The datatype is Numerical.

========================================= Operation Chain Task+Examples =========================================

Your task is to construct an operation chain using the above operations to answer the questions.

Some rules:
- The operation chain must end with <END>.
- Please use arrow -> to separate operations.
- You can use any operation any number of times, in any order.
- If the operation chain is incomplete, you must help complete it by adding the missing     operation. For example in the below example, if the operation chain is     'f_add_column(Date) -> f_select_row([row 1, row 2]) -> f_select_column([Date, League]) -> '     then you must add the following: 'f_sort_by(Date) -> <END>'
- If the table is simplified/reduced enough to answer the question, ONLY WRITE <END>. For instance, if the table is only 1 row or a small set of columns, PLEASE write <END> - DON'T DO unnecessary operations.

Here are some examples.
/*
col : Date | Division | League | Regular Season | Playoffs | Open Cup
row 1 : 2001/01/02 | 2 | USL A-League | 4th, Western | Quarterfinals | Did not qualify
row 2 : 2002/08/06 | 2 | USL A-League | 2nd, Pacific | 1st Round | Did not qualify
row 5 : 2005/03/24 | 2 | USL First Division | 5th | Quarterfinals | 4th Round
*/
Question: what was the last year where this team was a part of the usl a-league?
Candidates: f_add_column, f_select_column, f_select_row, f_group_by, f_sort_by
Previous Function Chain: f_add_column(Date) -> f_select_row([row 1, row 2, row 5])
Function Chain: f_select_column([Date, League]) -> f_sort_by(Date) -> <END>

/*
col : Rank | Cyclist | Country
row 3 : 3 | Davide Rebellin (ITA) | ITA
row 4 : 4 | Paolo Bettini (ITA) | ITA
*/

In [19]:
str(response)

'assistant: 0.008 inches.'

### Try out a Baseline

As an example lets take our LLM and see if it can directly answer the question by dumping the table into the prompt! 

We can construct this concisely using our query pipeline syntax (you can, of course, just call the prompt/llm directly)

In [ ]:
from llama_index.prompts import PromptTemplate
from llama_index.query_pipeline import QueryPipeline

prompt_str = """\
Here's a serialized table.

{serialized_table}

Given this table please answer the question: {question}
Answer: """
prompt = PromptTemplate(prompt_str)
prompt_c = prompt.as_query_component(partial={"serialized_table": serialize_table(df)})

In [ ]:
qp = QueryPipeline(chain=[prompt_c, self.llm])
response = qp.run("What was the precipitation in inches during June?")
print(str(response))